@model SettingsUpdateViewModel
@{
    ViewData["Title"] = "Update";
}

@section Styles
    {
    <style>
        .sliderImage {
            width: 150px !important;
            height: 150px !important;
            object-fit: contain !important;
            border-radius: 0px !important;
        }
    </style>
}

    <h4 class="card-title"> Update Settings</h4>
    <form class="forms-sample" method="post" asp-action="Update" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Phone">Phone</label>
            <input asp-for="Phone" class="form-control" placeholder="Enter the teacher fullname...">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="imagesTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Phone Logo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img class="sliderImage" src="~/assets/img/setting/@Model.PhoneImage">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label asp-for="FormPhoneImage">Choose Header Logo Images</label>
            <input asp-for="FormPhoneImage" class="form-control" placeholder="Choose Images" accept="image/*">
            <span asp-validation-for="FormPhoneImage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SecondPhone">SecondPhone</label>
            <input asp-for="SecondPhone" class="form-control" placeholder="Enter the the profession...">
            <span asp-validation-for="SecondPhone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="HeaderLogoImage">Choose Header Logo Images</label>
            <input asp-for="HeaderLogoImage" class="form-control" placeholder="Choose Images" accept="image/*">
            <span asp-validation-for="HeaderLogoImage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FooterLogoImage">Choose Footer Logo Image</label>
            <input asp-for="FooterLogoImage" class="form-control" placeholder="Choose Images" accept="image/*">
            <span asp-validation-for="FooterLogoImage" class="text-danger"></span>
        </div>

        <div class="imagesTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Header Logo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img class="sliderImage" src="~/assets/img/setting/@Model.HeaderLogo">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="imagesTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Footer Logo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img class="sliderImage" src="~/assets/img/setting/@Model.FooterLogo">
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="form-group">
            <label asp-for="Email">Emal</label>
            <input asp-for="Email" class="form-control" placeholder="Write email address...">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SecondEmail">Second Email</label>
            <input asp-for="SecondEmail" class="form-control" placeholder="Write second email address...">
            <span asp-validation-for="SecondEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FacebookLink">FacebookLink</label>
            <input asp-for="FacebookLink" class="form-control" placeholder="Enter the facebook link address...">
            <span asp-validation-for="FacebookLink" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PinterestLink">PinterestLink</label>
            <input asp-for="PinterestLink" class="form-control" placeholder="Enter the pinterest link address...">
            <span asp-validation-for="PinterestLink" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TwitterLink">TwitterLink</label>
            <input asp-for="TwitterLink" class="form-control" placeholder="Enter the twitter link address...">
            <span asp-validation-for="TwitterLink" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VimeoLink">VimeoLink</label>
            <input asp-for="VimeoLink" class="form-control" placeholder="Enter the vimeo link address...">
            <span asp-validation-for="VimeoLink" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address">Address</label>
            <input asp-for="Address" class="form-control" placeholder="Enter the address...">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SecondAddress">Second Address</label>
            <input asp-for="SecondAddress" class="form-control" placeholder="Enter the second address...">
            <span asp-validation-for="SecondAddress" class="text-danger"></span>
        </div>
        <div class="imagesTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Address Logo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img class="sliderImage" src="~/assets/img/setting/@Model.AddressImage">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label asp-for="FormAddressImage">Address</label>
            <input asp-for="FormAddressImage" class="form-control" placeholder="Enter the address...">
            <span asp-validation-for="FormAddressImage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FooterDescription">Footer Description</label>
            <input asp-for="FooterDescription" class="form-control" placeholder="Enter the footer description...">
            <span asp-validation-for="FooterDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="WebSite">Web Site</label>
            <input asp-for="WebSite" class="form-control" placeholder="Enter the web site link...">
            <span asp-validation-for="WebSite" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SecondWebsite">Second Web Site</label>
            <input asp-for="SecondWebsite" class="form-control" placeholder="Enter the second web site link...">
            <span asp-validation-for="SecondWebsite" class="text-danger"></span>
        </div>
            <div class="imagesTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Website Logo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img class="sliderImage" src="~/assets/img/setting/@Model.WebSiteImage">
                            </td>
                    </tr>
                </tbody>
            </table>
            </div>
        <div class="form-group">
            <label asp-for="FormWebsiteImage">Web Site</label>
            <input asp-for="FormWebsiteImage" class="form-control" placeholder="Enter the web site link...">
            <span asp-validation-for="FormWebsiteImage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GreetingText">GreetingText</label>
            <input asp-for="GreetingText" class="form-control" placeholder="Enter the greeting text...">
            <span asp-validation-for="GreetingText" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GoogleMapCode">Google Map Code</label>
            <input asp-for="GoogleMapCode" class="form-control" placeholder="Enter the google map code...">
            <span asp-validation-for="GoogleMapCode" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-light" asp-action="Index">Cancel</button>
    </form>


