@model IEnumerable<Category>
@{
    IEnumerable<Category> categories = Model;
}
<h4 class="card-title">Category Table</h4>
<a asp-action="create" class="btn btn-success"><i class="fa-solid fa-plus" style="font-size:16px; padding-right:5px;"></i>  Add</a>
<div class="table-responsive mt-4">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Courses Of The Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Category category in categories)
            {
                <tr>
                    <td>
                        <h5>@category.Name</h5>
                    </td>
                    <td class="">
                        <form class="forms-sample text-nowrap " method="post" asp-action="Delete" asp-route-id="@category.Id">
                            <button type="submit" class="btn btn-danger mx-1">Delete</button>
                            <button class="btn btn-primary mx-1">Detail</button>
                            <a asp-action="update" asp-route-id="@category.Id" class="btn btn-warning mx-1">Update</a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
