@model EventCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
@*
<div class="form-group">
    <label asp-for="Speakers">Speakers</label>
    <select asp-for="Speakers" asp-items="Model?.Speakers" class="form-control" placeholder="Speaker secin"></select>
    <span asp-validation-for="Speakers" class="text-danger"></span>
</div>*@
